@model Lession07.Models.LvsEmployee

@{
    ViewData["Title"] = "Employee Details";
}

<div class="card shadow">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewData["Title"]</h6>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LvsId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LvsId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LvsName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LvsName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LvsBirthDay)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LvsBirthDay)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LvsEmail)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LvsEmail)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LvsPhone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LvsPhone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LvsSalary)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LvsSalary)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LvsStatus)
            </dt>
            <dd class="col-sm-10">
                @if (Model.LvsStatus)
                {
                    <span class="badge badge-success">Active</span>
                }
                else
                {
                    <span class="badge badge-danger">Inactive</span>
                }
            </dd>
        </dl>

        <div class="mt-4">
            @Html.ActionLink("Edit", "LvsEdit", new { id = Model.LvsId }, new { @class = "btn btn-warning" })
            <a asp-action="LvsIndex" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>